<div class="cat-detail-container"> 
    <h1>げぼく診断</h1>

    <p><%= @question %></p>

    <% next_question_number = (@question_number || 0).to_i + 1 %> 
  
    <%= form_with url: user_cat_answer_diagnosis_path(@user, @cat, question_number: @question_number), method: :post, local: true do |f| %>
      <div class="question_select">
        <div class="radio-option">
          <%= f.radio_button :answer, 1, required: true %> <label>はい</label>
        </div>
        <div class="radio-option">
          <%= f.radio_button :answer, 0 %> <label>いいえ</label>
        </div>
      </div>
      <%= f.submit "次の質問へ", class: "button-submit" %>
    <% end %>
</div>