<%= form_with(model: [post, comment], id: 'comment_form') do |f| %>
  <% if comment.errors.any? %>
    <div class="error-messages">
      <ul>
        <% comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :content, "コメント:" %>
    <%= f.text_area :content, rows: 3 %>
  </div>
  <div>
    <%= f.submit "コメントする", class: "comment-submit-button" %>
  </div>
<% end %>