<div class="cat-detail-container"> 
  <div class="mypage-header">
    <h1><%= @user.nickname %> さんのマイページ</h1>
    <h3>登録したねこ一覧</h3>
  </div>
  <% if @cats.any? %>
    <div class="cats-list">
      <% @cats.each do |cat| %>
        <div class="cat-card">
          <div class="cat-item">
            <p>
              <%= cat.name %>
              <% if cat.diagnosis_result.present? %>
                <span><%= cat.diagnosis_result[0] %></span>
              <% end %>
            </p>
          </div>
          <p><strong>年齢:</strong> <%= cat.age.name %></p>
          <p><strong>品種:</strong> <%= cat.breed.name %></p>
          <%= link_to '詳細を見る', user_cat_path(current_user, cat), class: 'cat-detail-link' %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>登録された猫がいません。</p>
  <% end %>
</div>