<div class="container">
  <h2><%= @user.nickname %> さんのプロフィール</h2>
  <div class="follows"> 
      <turbo-frame id="follow-button">
        <%= render "users/follow_button", user: @user %>
      </turbo-frame>
    <div class="follow-counts">
      <div id="followers-count">
        <span id="followers-count-number">フォロワー数:<%= @user.followers.count %></span>
      </div>

      <div id="following-count">
        <span id="following-count-number">フォロー数:<%= @user.following.count %></span>
      </div>
    </div>
  </div>
  <!-- ねこの一覧 -->
  <h2>🐾 飼っているねこ</h2>
  <div class="cat-thumbnails">
      <% @user.cats.each do |cat| %>
        <div class="thumbnail">
        <% if cat.image.attached? %>
          <%= link_to user_cat_path(@user, cat) do %>
            <%= image_tag(cat.image.variant(resize_to_limit: [100, 100]), class: "thumbnail-img") %>
          <% end %>
        <% else %>
          <%= link_to user_cat_path(@user, cat) do %>
            <%= image_tag("default_cat.jpg", class: "thumbnail-img", width: 100, height: 100) %>
          <% end %>
        <% end %>
          <p>・<%= cat.name %> <% if cat.diagnosis_result.present? %> <%= cat.diagnosis_result[0] %> <% else %>
          &nbsp;<% end %></p>
        </div>
        <% end %>
  </div>
  <h2><%= @user.nickname %>さんの投稿一覧</h2>
  <div class="post-card-show">
    <% @user.posts.each do |post| %>
      <% if post.image.attached? %>
        <div class="post-image-wrapper">
          <%= link_to post_path(post) do %>
            <div class="image-container">
              <!-- 🔹 画像 -->
              <%= image_tag(post.image.variant(resize_to_limit: [600, 400]), 
                            alt: "投稿画像", 
                            class: "post-image-list-show") %>
              <!-- 🔹 オーバーレイ（タイトル・いいね・コメントを表示） -->
              <div class="overlay">
                <h2 class="post-title-show"><%= post.title %></h2> 
                <div class="post-meta-show">
                  <div class="like-section">
                    <%= render 'posts/like_button', post: post %>
                    <p class="like-count-show"> <%= post.likes.count %> いいね</p>
                    <p class="comment-count-show">💬 <%= post.comments.count %></p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- 投稿一覧に戻る -->
  <div class="back-link">
    <%= link_to "⬅ 投稿一覧に戻る", posts_path, class: "button-back" %>
  </div>
</div>