<div class="follow-container">
  <div class="follows"> 
      <h2><%= @user.nickname %> さんのプロフィール</h2>

      <turbo-frame id="follow-button">
        <%= render "users/follow_button", user: @user %>
      </turbo-frame>
    <div class="follow-counts">
      <div id="followers-count">
        <span id="followers-count-number">フォロワー数:<%= @user.followers.count %></span>
      </div>

      <div id="following-count">
        <span id="following-count-number">フォロー数:<%= @user.following.count %></span>
      </div>
    </div>
  </div>
  <!-- ねこの一覧 -->
  <h2>🐾 飼っているねこ</h2>
  <div class="cat-thumbnails">
      <% @user.cats.each do |cat| %>
        <div class="thumbnail">
        <% if cat.image.attached? %>
          <%= link_to user_cat_path(@user, cat) do %>
            <%= image_tag(cat.image.variant(resize_to_limit: [100, 100]), class: "thumbnail-img") %>
          <% end %>
        <% else %>
          <%= link_to user_cat_path(@user, cat) do %>
            <%= image_tag("default_cat.jpg", class: "thumbnail-img", width: 100, height: 100) %>
          <% end %>
        <% end %>
          <p>・<%= cat.name %> <% if cat.diagnosis_result.present? %>（げぼく度: <%= cat.diagnosis_result[0] %>）<% end %></p>
        </div>
        <% end %>
  </div>
  <!-- 投稿一覧に戻る -->
  <div class="back-link">
    <%= link_to "⬅ 投稿一覧に戻る", posts_path, class: "profile-link" %>
  </div>
