<header class="header">
    <div class="header__bar row">
      <h1 class="grid-6"><a href="/">ねこのげぼく</a></h1>
      <% if user_signed_in? %>
        <div class="user_nav grid-6">
          <form action="<%= destroy_user_session_path %>" method="post" class="logout-form">
            <input type="hidden" name="_method" value="delete">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <button type="submit" data-confirm="ログアウトしますか？" class="post">ログアウト</button>
          </form>
          <%= link_to "投稿する", new_post_path, class: "post" %>
          <% if current_page?(mypage_user_path(current_user)) %>
            <%= link_to 'ねこ登録', new_user_cat_path(current_user), class: "post" %>
            <%= link_to 'げぼく診断', user_select_diagnosis_cat_path(current_user), class: "post" %> <!-- ここで「げぼく診断」に切り替え -->
          <% else %>
            <%= link_to 'マイページ', mypage_user_path(current_user), class: "post" %>
          <% end %>
        </div>
      <% else %>
        <div class="user_nav grid-6">
          <%= link_to "ログイン", new_user_session_path, class: "post" %>
          <%= link_to "新規登録", new_user_registration_path, class: "post" %>
        </div>
      <% end %>
    </div>
  </header>