<div class="contents">
  <h2>にゃーついギャラリー</h2>

  <% @posts.each do |post| %>
      <div class="post-card">
      <% if post.image.attached? %>
        <div class="post-image-wrapper">
          <%= link_to image_tag(post.image.variant(resize_to_limit: [400, 300]), alt: "投稿画像", class: "post-image"), post_path(post) %>
          <div class="post-overlay">
            <h2 class="post-title"><%= post.title %></h2>
            <p class="post-author">
              投稿者: <%=  post.user.nickname %>
            </p>

            <% if post.content.present? %>
              <p class="post-content"><%= post.content %></p>
            <% end %>

            <% if post.cats.any? %>
              <p>🐱 紐づいているねこ:
              <% post.cats.each do |cat| %>
                <span class="cat-link-wrapper">
                  <%= link_to cat.name, user_cat_path(post.user, cat), class: "cat-link" %>
                </span>
              <% end %>
              </p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    </div>
  <% end %>
</div>