<h1>にゃーついギャラリー</h1>

<%= link_to '新しい投稿', new_post_path, class: 'button-submit' %>

<% @posts.each do |post| %>
  <div class="post-item">
    <% if post.image.attached? %>
      <%= image_tag post.image.variant(resize_to_limit: [400, 400]), alt: "投稿画像", class: "post-image" %>
    <% end %>

    <h2><%= post.title %></h2>  <!-- タイトルを表示 -->

    <p><strong><%= post.user.nickname %> さんの投稿</strong></p>
    
    <% if post.content.present? %>
      <p><%= post.content %></p>
    <% end %>
    
    <% if post.cat %>
      <p>🐱 ねこ: <%= link_to post.cat.name, user_cat_path(post.user, post.cat) %></p>
    <% end %>

    <%= link_to '詳細を見る', post_path(post), class: 'post-detail' %>
    <% if post.user == current_user %>  <!-- 自分の投稿のみ削除可能 -->
      <%= link_to '削除', post_path(post), method: :delete, data: { confirm: '削除してもよろしいですか？' }, class: 'post-delete' %>
    <% end %>
  </div>
<% end %>