<div class="container">
  <h1><%= @post.title %></h1>

  <div class="post-image-wrapper-show">
  <% if @post.image.attached? %>

    <%= image_tag @post.image.variant(resize_to_limit: [800, 600]), alt: "投稿画像", class: "post-image-show" %>

  <% end %>
</div>

  <p><strong>投稿者:</strong> <%= @post.user.nickname %></p>

  <% if @post.content.present? %>
    <p><%= @post.content %></p>
  <% end %>
  <div class="cat-inline-wrapper">
    <% if @post.cats.any? %>
    <span class="cat-title">🐱 紐づいているねこ:</span>
      <ul class="cat-list-inline">
        <% @post.cats.each do |cat| %>
          <li class="cat-item-inline">
            <%= link_to cat.name, user_cat_path(@post.user, cat), class: "cat-link" %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
    <% if @post.liked_users.include?(current_user) %>
        <%= button_to 'いいね解除', post_like_path(@post), method: :delete, remote: true %>
      <% else %>
        <%= button_to 'いいね', post_like_path(@post), method: :post, remote: true %>
      <% end %>

     <p>いいね数: <%= @post.likes.count %></p>

  <div class="button-group">
    <%= link_to '一覧に戻る', posts_path, class: 'show-button-back' %>
    
    <% if @post.user == current_user %>
      <%= link_to '編集', edit_post_path(@post), class: 'show-button-edit' %>
      <%= link_to '削除', post_path(@post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'show-button-delete' %>
    <% end %>
  </div>
</div>