<div class="">
  <div class="cat-detail-container">
  <h1 class="cat-detail-title"><%= @cat.name %> の詳細</h1>

  <div class="cat-detail-content">
    <div class="cat-detail-info">
      <% if @cat.image.attached? %>
        <div>
          <%= image_tag @cat.image, class: 'cat-image', alt: @cat.name %>
        </div>
      <% else %>
        <p>画像が登録されていません。</p>
      <% end %>
      <p><strong>名前:</strong> <%= @cat.name %></p>
      <p><strong>年齢:</strong> <%= @cat.age.name %></p>
      <p><strong>品種:</strong> <%= @cat.breed.name %></p>
    </div>
    
    <div class="cat-detail-buttons">
      <% if @user == current_user %>
        <%= link_to '編集する', edit_user_cat_path(@user, @cat), class: 'button button-edit' %>
        <%= link_to '削除する', user_cat_path(@user, @cat), data: { turbo_method: :delete }, class: 'button button-delete' %>
      <% end %>

      <% if @user == current_user %>
        <%= link_to '一覧に戻る', mypage_user_path(current_user), class: 'button button-back' %>
      <% else %>
       <%= link_to '一覧に戻る', request.referer || posts_path, class: 'button button-back' %>
      <% end %>
    </div>
  </div>
</div>